/* Stylesheet for Correspondence Viewer in LingPy
 *
 * author   : Johann-Mattis List
 * email    : mattis.list@lingulist.de
 * created  : 2014-08-20 12:02
 * modified : 2014-08-20 12:02
 *
 */

/* style for head elements */
h3 {margin:5px;}
#meta {margin:5px;}

/* style for correspondences */

#correspondence_data table {border-collapse:separate;border-spacing:1px;}
#correspondence_data thead {border-collapse:separate;border-spacing:1px;}
#correspondence_data thead > tr{}
#correspondence_data thead > tr > th {padding-right:5px;padding-left:5px;border-radius:2px;border: 2px solid black;font-weight:bold;}
#correspondence_data tbody > tr > td {padding-right:5px;padding-left:5px;border-radius:2px;border: 2px solid black;}
#correspondence_data tbody > tr {}

#cognates_data table {border-collapse:separate;border-spacing:1px;width:auto;}
#cognates_data thead {border-collapse:separate;border-spacing:1px;}
#cognates_data thead > tr > th {padding-left:5px;padding-right:5px;text-align:center;border-radius:5px;background-color:lightgray;border-radius:2px;border: 2px solid black;font-weight:bold;}
#cognates_data tbody > tr > td {padding-left:5px;padding-right:5px;border: 2px solid black;font-size:16px;color:black;}
#correspondences {float: left; display: inline; margin:5px;}

#correspondence_data {position:relative;overflow:hidden;border: 2px solid black; border-radius:5px; padding:5px;}
#correspondence_header {margin-bottom:5px;padding:5px;border: 2px solid black; border-radius:5px; background-color: lightgray;}

/* style for cognates table */
#cognates {float:left; margin:5px; display:inline;}

#cognates_data {border: 2px solid black;border-radius: 5px;padding:5px;position:relative;overflow:auto;}
.cognates_table_header {padding:5px;cursor:default;text-align:center;border:2px solid black; background-color:white;font-weight:bold!important;}
#cognates_header {text-align:left; margin-bottom:5px;padding:5px;border: 2px solid black; border-radius:5px; background-color: lightgray;}


#selector {float: left; margin:5px; display:block;}
#selector_header {margin-bottom:5px;padding:5px;border: 2px solid black; border-radius:5px; background-color: lightgray;}

.header {
  font-weight: bold;
}
.handle {
  cursor: -moz-grab;
  cursor: -webkit-grab;
  font-weight:bold;
}
.ctab_numbers{
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.source {
  background-color: lightgray;
  //border: 2px solid white !important;
}
.source > .residue {
  cursor:pointer;
}
.data {background-color:white;}

.sortables {
  padding: 5px;
  border: 1px solid white;
  border-radius: 10px;
}
.pointed {cursor:pointer;margin-left:3px;margin-right:3px;}

body.dragging {cursor: move !important;}

.multiselect-container {
  padding: 15px;
  font-size: 90%;
  position:absolute;
  top: inherit;
  left: inherit;
}
.multisect {
  //margin: 5px;
  padding: 15px;
}

.invisible {display:none!important;}
.sound_handle {border:2px solid white!important;padding-top:3px;}

.popup_background{
	position: fixed;
	//background-color: rgba(0,0,0,0.5);
	z-index: 100;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	float: left;
	text-align:center;
}
.popup_message {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top:50%;
  color:white;
  font-size:200%;
  background-color: Crimson;
  text-align:center;
  float: left;
  padding: 10px;
  border-radius:25px;
}
