/* Stylesheet for Correspondence Viewer in LingPy
 *
 * author   : Johann-Mattis List
 * email    : mattis.list@lingulist.de
 * created  : 2014-08-20 12:02
 * modified : 2014-08-20 12:02
 *
 */

/* style for head elements */
h3 {margin:5px;}
#meta {margin:5px;}

/* style for correspondences */
#correspondence_table {border-spacing:2px;border-collapse:separate;vertical-align:top;text-align:justify} 
#correspondence_table th {border-radius:3px;vertical-align:top; border: 2px solid black;}
#correspondences {float: left; display: inline;margin:5px;}
#correspondence_table td {vertical-align:top;border: 2px solid gray;}
#correspondence_table th.targets{min-width:60px;cursor:pointer;}
#correspondence_table tbody {border-spacing:2px;border-collapse:separate; display:block;position:relative;overflow:hidden;}
#correspondence_table thead {border-spacing:2px;border-collapse:separate; display:block;}



/* style for cognates table */
#cognates {float:left; margin:5px; display:inline;}
#cognates_table {border-collapse:separate;border-spacing:2px;}
#cognates_table th {vertical-align: top; border: 2px solid black;}
#cognates_table td {vertical-align: top; border: 2px solid lightgray;}

#correspondence_data {position:relative;overflow:hidden;border: 2px solid black; border-radius:5px; padding:5px;}
#cognates_data {border: 2px solid black;border-radius: 5px;padding:5px;position:relative;overflow:hidden;}
th.cognates_table_header {cursor:pointer;text-align:justify;border:2px solid black; border-radius: 5px; background-color:lightgray;}
#cognates_header       {margin-bottom:5px;padding:5px;border: 2px solid black; border-radius:5px; background-color: lightgray;}
#correspondence_header {margin-bottom:5px;padding:5px;border: 2px solid black; border-radius:5px; background-color: lightgray;}
#selector {float: left; margin:5px; display:inline;}
#selector_header {margin-bottom:5px;padding:5px;border: 2px solid black; border-radius:5px; background-color: lightgray;}

.handle {
  cursor: -moz-grab;
  cursor: -webkit-grab;
  font-weight:bold;
}
.ctab_numbers{
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
.source {
  background-color: lightgray;
}
.source > .residue {
  cursor:pointer;
}

body.dragging {cursor: move !important;}
